<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="bg-red-100 text-red-700 py-3 px-4 rounded-lg">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul class="list-disc mx-auto px-5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
